autopep8==1.4.4
Django==2.2.1
django-ajax-views==0.0.2
django-appconf==1.0.3
django-autocomplete-light==2.3.3
django-bootstrap-modal-forms==1.4.2
django-choices==1.7.0
django-cors-headers==3.0.2
django-crispy-forms==1.7.2
django-environ==0.4.5
django-extra-views==0.12.0
django-guardian==1.5.1
django-heroku==0.3.1
django-html-validator==0.5.1
django-js-reverse==0.9.1
django-jsonify==0.3.0
django-location-field==2.1.0
django-multiselectfield==0.1.8
django-phonenumber-field==3.0.1
django-require==1.0.11
django-search==1.0
django-secure==1.0.1
django-select2==7.0.3
django-tables2-bootstrap4==2.0.0b5
django-user-accounts==2.1.0
django-widget-tweaks==1.4.3
djangorestframework==3.9.4
djangorestframework-jsonapi==2.7.0
Jinja2==2.11.3
whitenoise==4.1.2
gunicorn==19.9.0